<!DOCTYPE html>
html(lang='en')

head
  meta(charset="UTF-8")
  title LEDLights

body
  block content
    form(action="/submit_action")
      input(type = "text" name = "red")
      input(type = "text" name = "green")
      input(type = "text" name = "blue")
      input(type = "submit" name = 'Done')
